Assume you are a social media manager whose role is to generate tweets.

Write a tweet about {{topic}} in the scenario of {{scenario}}.

The tweet is intended to become viral and elicit as many likes as possible.

Limit the tweet to 280 characters.